---
layout: default2
---

{% include navigation.html %}

<div class="container">
	<div class="row mb-4">
		<div class="col-md-12 ml-top-padding">
			<div class="heading-title">
				<h1>Free dreaming Blog</h1>
				<p>Sharing resources, information, knowledge and tools.<br>
					Allowing others to free themselves from their mental walls.</p>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		{% for post in site.posts %}
		<div class="col-md-6 col-sm-6 col-xs-12 mb-5 post">
			<div class="post-thumbnail mb-3">
				<a href="https://neuronthemes.com/crate/rockhead/">
					<img src="/assets/images/{{ post.banner_image }}" class="img-fluid" alt="">
				</a>
			</div>
			<div class="post-meta">
				<h3 class="text-center">
					<a href="https://neuronthemes.com/crate/rockhead/">{{ post.title }}</a>
				</h3>
				<ul class="text-center p-0">
					<li class="date">{{ post.date | date: "%B %-d, %Y" }}</li>
				</ul>
			</div>
			<div class="post-info">
				<p>{{ post.description }}</p>
			</div>
			<div class="text-center">
				<a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-solid-reg">
					Read More
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
