---
layout: default2
---

{% include navigation.html %}

<div class="container">
	<div class="row mb-4">
		<div class="col-md-12 ml-top-padding">
			<div class="heading-title">
				<h1>Free dreaming Blog</h1>
				<p>Sharing resources, information, knowledge and tools.<br>
					Allowing others to free themselves from their mental walls.</p>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col">
			{% for post in site.posts %}
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="post-thumbnail">
					<a href="https://neuronthemes.com/crate/rockhead/">
						<img src="/assets/images/{{ post.banner_image }}" class="img-fluid" alt="">
					</a>
				</div>
				<div class="post-meta">
					<h3><a href="https://neuronthemes.com/crate/rockhead/">{{ post.title }}</a></h3>
					<ul class="underline">
						<li class="date">{{ post.date }}</li>
						<li class="category"><a href="https://neuronthemes.com/crate/category/fashion/"
								rel="category tag">Fashion</a> <a
								href="https://neuronthemes.com/crate/category/lifestyle/"
								rel="category tag">Lifestyle</a> <a
								href="https://neuronthemes.com/crate/category/travel/" rel="category tag">Travel</a>
						</li>
					</ul>
				</div>
				<div class="post-info">
					<p>{{ post.description }}</p>
				</div>
				<div class="btn btn-solid-reg">
					<a href="{{ site.baseurl }}{{ post.url }}" class="button">
						Read More
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
