---
layout: default
---
{% include navigation.html %}

<section class="page-blog">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<section class="page-header">
					<h1>Episodes</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb foi-breadcrumb">
							<li class="breadcrumb-item"><a href="/index.html">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page"><a href="/episodes.html">Episodes</a></li>
						</ol>
					</nav>
				</section>
				<section class="foi-page-section pt-0">
					<div class="row">
						{% for episode in site.episodes | sort:"order" | reverse %}
						<div class="col-12">
							<a href="{{ site.url }}{{ episode.url }}" class="text-decoration-none">
								<article class="blog-post media">
									<div class="blog-post-thumbnail-wrapper">
										<img src="/assets/images/{{ episode.banner_image }}" alt="blog" width="155px"
											class="blog-post-thumbnail mr-md-3">
										<span class="blog-post-badge">Episode</span>
									</div>
									<div class="media-body">
										<p class="blog-post-date">{{ episode.date | date: "%B %-d, %Y" }}</p>
										<h5 class="blog-post-title">{{ episode.title }}</h5>
										<p class="blog-post-excerpt">All the basics for businesses that are just getting
											started.</p>
									</div>
								</article>
							</a>
						</div>
						{% endfor %}
					</div>
				</section>
			</div>
		</div>
	</div>
</section>
