---
layout: default
---

<div class="menu">
	<span class="close-menu icon-cross2 right-boxed"></span>
	<ul class="menu-list right-boxed">
		<li data-menuanchor="page1">
			<a href="#page1">Home</a>
		</li>
		<li data-menuanchor="page2">
			<a href="#page2">About me</a>
		</li>
		<li data-menuanchor="page3">
			<a href="#page3">Projects</a>
		</li>
		<li data-menuanchor="page4">
			<a href="#page4">Blog</a>
		</li>
		<li data-menuanchor="page5">
			<a href="#page5">Contact</a>
		</li>
	</ul>
	<div class="menu-footer right-boxed">
		<div class="social-list">
			<a href="https://www.facebook.com/{{ site.facebook_username }}" class="icon ion-social-facebook"></a>
			<a href="https://twitter.com/{{ site.twitter_username }}" class="icon ion-social-twitter"></a>
			<a href="https://www.instagram.com/{{ site.linkedin_username }}" class="icon ion-social-linkedin"></a>
			<a href="https://www.instagram.com/{{ site.instagram_username }}" class="icon ion-social-instagram"></a>
		</div>
		<div class="copy">© John Choque 2019. All Rights Reseverd</div>
	</div>
</div>

<header class="navbar navbar-fullpage boxed">
	<div class="navbar-bg"></div>
	<a class="brand" href="#">
		<img alt="" src="/assets/images/logo.png">
		<div class="brand-info">
			<div class="brand-name">John</div>
		</div>
	</a>

	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse"
		aria-expanded="false">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

	<div class="contacts d-none d-md-block">
		<div class="contact-item">
			+96 56-85-1379
		</div>
		<div class="contact-item spacer">
			/
		</div>
		<div class="contact-item">
			<a href="mailto:contact@johngchoque.com">contact@johngchoque.com</a>
		</div>
	</div>
</header>
<div class="copy-bottom white boxed">© John Choque 2019.</div>
<div class="social-list social-list-bottom boxed">
	<a href="https://www.facebook.com/{{ site.facebook_username }}" class="icon ion-social-facebook"></a>
	<a href="https://twitter.com/{{ site.twitter_username }}" class="icon ion-social-twitter"></a>
	<a href="https://www.instagram.com/{{ site.linkedin_username }}" class="icon ion-social-linkedin"></a>
	<a href="https://www.instagram.com/{{ site.instagram_username }}" class="icon ion-social-instagram"></a>
</div>

<div class="" id="content">
	<div id="page1" data-anchor="page1" class="pp-scrollable text-white section section-1">
		<div class="scroll-wrap">
			<div class="section-bg mask" style="background-image:url(assets/images/bg/main.jpg);"></div>
			<div class="scrollable-content">
				<div class="vertical-centred">
					<div class="boxed boxed-inner">
						<div class="boxed">
							<div class="container">
								<div class="intro">
									<div class="row">
										<div class="col-md-8 col-lg-6">
											<h1 class="display-2 text-white  wow fadeIn" data-wow-delay="0.1s"><span
													class="text-primary">Hello,</span> I'm John</h1>
											<p>Creating digital solutions for a sustainable future.</p>
											<a class="popup-youtube"
												href="http://www.youtube.com/watch?v=0O2aH4XLbto"><span
													class="icon ion-ios-play"></span>Watch video </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="page2" data-anchor="page2" class="pp-scrollable section section-2">
		<div class="scroll-wrap">
			<div class="scrollable-content">
				<div class="vertical-title text-white d-lg-block"><span>what I do</span></div>
				<div class="vertical-centred">
					<div class="boxed boxed-inner">
						<div class="boxed">
							<div class="container">
								<div class="intro">
									<div class="row align-items-center">
										<div class="col-lg-6 offset-xl-1">
											<div class="experience-box">
												<div class="experience-content">
													<div class="experience-number">3</div>
													<div class="experience-info">
														<div>Years<br>Experience<br>Working</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-5 mt-5 mt-xl-0">
											<h2 class="title"> <span class="text-primary">About</span> me</h2>
											<p>I am passionate about Sustainable Development and Music. Facilitator and
												builder
												on various projects on the industry. Mental health and Gender Equality
												advocate.
												Good communicator and planner with strong logical judgment, with
												experience at
												different international events and programs.</p>
										</div>
									</div>
									<div class="view-all">
										<a href="/about.html">
											Know more
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="page3" data-anchor="page3" class="pp-scrollable text-white section section-3">
		<div class="scroll-wrap">
			<div class="section-bg mask" style="background-image:url(assets/images/bg/projects.jpg);"></div>
			<div class="scrollable-content">
				<div class="vertical-title d-lg-block"><span>my works</span></div>
				<div class="vertical-centred">
					<div class="boxed boxed-inner">
						<div class="boxed">
							<div class="container">
								<h2 class="title mb-5 pb-5"> <span class="text-primary">My</span> projects</h2>
								<div class="row justify-content-center">
									{% assign ordered_projects = site.projects | sort:"order" %}
									{% for project in ordered_projects limit:3 %}
									<div class="col-12 col-sm-6 col-lg list-item">
										<figure>
											<img class="img-fluid"
												src="{{site.baseurl}}assets/images/project/{{project.thumbnail}}"
												alt="p1">
											<figcaption>
												<a href="{{site.baseurl}}{{project.url}}"></a>
												<div class="caption-inner">
													<h3>{{project.title}}</h3>
													<div>{{project.category}}</div>
												</div>
											</figcaption>
										</figure>
									</div>
									{% endfor %}
								</div>
								<div class="view-all">
									<a href="/projects.html">
										View all projects
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="page4" data-anchor="page4" class="pp-scrollable text-white section section-4">
		<div class="scroll-wrap">
			<div class="section-bg mask" style="background-image:url(assets/images/bg/blog.jpg);"></div>
			<div class="scrollable-content">
				<div class="vertical-title d-lg-block"><span>my articles</span></div>
				<div class="vertical-centred">
					<div class="boxed boxed-inner">
						<div class="boxed">
							<div class="container">
								<div class="">
									<h2 class="title mb-5 pb-5"> <span class="text-primary">My</span> blog
										<div class="row">
											<div class="col-md-12">
												{% for post in site.posts limit:3 %}
												<div class="project-row">
													<a href="{{ site.baseurl }}{{ post.url }}">
														<span class="project-number">{{ forloop.index }}</span>
														<h2 class="project-title">{{ post.title }}</h2>
														<div class="project-category">{{ post.category }}</div>
													</a>
												</div>
												{% endfor %}
												<div class="view-all view-all-projects">
													<a href="projects.html">
														View all posts
													</a>
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="page5" data-anchor="page5" class="pp-scrollable section section-5">
		<div class="scroll-wrap">
			<div class="scrollable-content">
				<div class="vertical-title text-white d-lg-block"><span>contact</span></div>
				<div class="vertical-centred">
					<div class="boxed boxed-inner">
						<div class="boxed">
							<div class="container">
								<div class="intro overflow-hidden">
									<div class="row">
										<div class="col-md-6">
											<h2 class="title"><span class="text-primary">Contact</span> me</h2>
											<h5 class="text-muted">166 Main Street, Beverly Hills, CA 90210</h5>
											<section class="contact-address">
												<h3><a class="mail" href="mailto:contact@johngchoque.com">
														contact@johngchoque.com</a></h3>
												<h3><span class="phone">+591</span></h3>
											</section>
										</div>
										<div class="col-md-6">
											<div class="row row-partners">
												<div class="col-sm-6 col-md-4 col-xl-3 col-partner">
													<div class="partner-inner">
														<a href="https://www.facebook.com/{{ site.facebook_username }}"
															class="icon ion-social-facebook"></a>
													</div>
												</div>
												<div class="col-sm-6 col-md-4 col-xl-3 col-partner">
													<div class="partner-inner">
														<a href="https://twitter.com/{{ site.twitter_username }}"
															class="icon ion-social-twitter"></a>
													</div>
												</div>
												<div class="col-sm-6 col-md-4 col-xl-3 col-partner">
													<div class="partner-inner">
														<a href="https://www.linkedin.com/{{ site.linkedin_username }}"
															class="icon ion-social-linkedin"></a>
													</div>
												</div>
												<div class="col-sm-6 col-md-4 col-xl-3 col-partner">
													<div class="partner-inner">
														<a href="https://www.instagram.com/{{ site.instagram_username }}"
															class="icon ion-social-instagram"></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
