---
layout: default
---

<!-- Projects start -->

{% include nav.html %}

<section id="blog-page" class="module">
	<div class="container">
		<div class="row">

			<div class="module-header">
				<h2 class="module-title">
					My projects
					<span>Projects</span>
				</h2>
				<div class="module-line"></div>
			</div>

		</div><!-- .row -->

		<!-- Blog Filter start-->

		<div class="row">

			<div class="col-sm-12">

				<ul id="filter">
					<li class="active" data-group="all">All</li>
					{% assign categories = site.projects | map: 'category' | uniq %}
					{% for category in categories %}
					<li data-group="{{ category }}">{{ category }}</li>
					{% endfor %}
				</ul>

			</div>

		</div><!-- .row -->

		<!-- Blog Filter end -->

		<ul class="list-items-container blog-wrapper">
			{% assign ordered_projects = site.projects | sort:"order" %}
			{% for project in ordered_projects %}

			<li class="list-item" data-groups="all {{ project.category }}">
				<a href="{{site.baseurl}}{{project.url}}" class="blogList wow fadeInUp">
					<div class="blogList-img">
						<img src="{{ "/assets/images/project/" | append: project.banner_image | prepend: site.baseurl }}"
							alt="Blog Desc">
						<span>{{ project.category }}</span>
					</div>
					<div class="blogList-desc">
						<h3>{{ project.title }}</h3>
						<div>{{ project.description }}</div>
					</div>
				</a>
			</li>

			{% endfor %}


		</ul><!-- .projects-container -->
	</div><!-- .contaier -->

</section>

<!-- Projects end -->