---
layout: default
---

<!-- Projects start -->

{% include nav.html %}

<!-- Hero start -->
<div class="" id="content">
	<div data-anchor="page1" class="section">
		<div class="scroll-wrap">
			<div class="section-bg" style="background-image:url(images/bg/project1.jpg);"></div>
			<div class="scrollable-content">
				<div class="vertical-centred v2">
					<div class="boxed boxed-inner">
						<div class="boxed">
							<div class="container">
								<div class="intro">
									<div class="project-detail-row">
										<a class="" href="project-detail.html">
											<h2 class="project-title">My projects</h2>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Hero end -->

	<div id="page5" data-anchor="page5" class="section">
		<div class="scroll-wrap">
			<div class="bg-changer">
				<div class="section-bg" style="background-image:url(images/bg/project1.jpg);"></div>
				<div class="section-bg" style="background-image:url(images/bg/project2.jpg);"></div>
				<div class="section-bg" style="background-image:url(images/bg/project3.jpg);"></div>
				<div class="section-bg" style="background-image:url(images/bg/project4.jpg);"></div>
			</div>
			<div class="scrollable-content">
				<div class="vertical-title  d-none d-lg-block"><span>my works</span></div>
				<div class="vertical-centred">
					<div class="boxed boxed-inner">
						<div class="boxed">
							<div class="container">
								<div class="">
									<div class="row">
										<div class="col-md-12">
											{% assign ordered_projects = site.projects | sort:"order" %}
											{% for project in ordered_projects %}
											<div class="project-row">
												<a href="{{ site.baseurl }}{{ project.url }}">
													<span class="project-number">{{ forloop.index }}</span>
													<h2 class="project-title">{{ project.title }}</h2>
													<div class="project-category">{{ project.category }}</div>
												</a>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Projects end -->