---
layout: default
---

<!-- Projects start -->

{% include nav.html %}

<!-- Hero start -->

<section id="home" class="module-image js-height-full">

	<div class="intro">
		<h1>My projects</h1>
	</div>

	<div class="mouse-icon">
		<div class="wheel"></div>
	</div>

</section>

<!-- Hero end -->

<section id="blog-page" class="module">
	<div class="container">
		<div class="row">

			<div class="module-header">
				<h2 class="module-title">
					My projects
					<span>Projects</span>
				</h2>
				<div class="module-line"></div>
			</div>

		</div><!-- .row -->

		<!-- Blog Filter start-->

		<div class="row">

			<div class="col-sm-12">

				<ul id="filter">
					<li class="active" data-group="all">All</li>
					{% assign categories = site.projects | map: 'category' | uniq %}
					{% for category in categories %}
					<li data-group="{{ category }}">{{ category }}</li>
					{% endfor %}
				</ul>

			</div>

		</div><!-- .row -->

		<!-- Blog Filter end -->

		<ul class="list-items-container images-loaded shuffle">
			{% assign ordered_projects = site.projects | sort:"order" %}
			{% for project in ordered_projects %}
			<li class="list-item" data-groups="all {{ project.category }}">
				<figure>
					<img src="{{site.baseurl}}assets/images/project/{{project.banner_image}}" alt="p1">
					<figcaption>
						<a href="{{site.baseurl}}{{project.url}}"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">{{project.title}}</h3>
							<div class="portfolio-item-desc">{{project.category}}</div>
						</div>
					</figcaption>
				</figure>
			</li>
			{% endfor %}

		</ul><!-- .projects-container -->
	</div><!-- .contaier -->

</section>

<!-- Projects end -->