---
layout: default2
---

{% include navigation.html %}

<div class="container">
	<div class="row mb-4">
		<div class="col-md-12 ml-top-padding">
			<div class="heading-title">
				<h1>Personal Projects</h1>
				<p>Sharing resources, information, knowledge and tools.<br>
					Allowing others to free themselves from their mental walls.</p>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<ul>
			{% assign ordered_projects = site.projects | sort:"order" %}
			{% for project in ordered_projects %}
			<li>
				<div><a href="{{ site.baseurl }}{{ project.url }}">{{project.title}}</a></div>
				<div>{{project.category}}</div>
				<div></div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
