<footer>
	<div class="container">
		<div class="row py-5">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div id="text-2" class="widget widget_text">
					<h3>About</h3>
					<div class="textwidget">
						<p>Proton is high quality portfolio theme,<br> with unique style and clean code.</p>
						<p>+123 (0)35 2568 4593<br> <a href="#">info@protontheme.com</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div id="recent-posts-3" class="widget widget_recent_entries">
					<h3>Recent Posts</h3>
					<ul>
						<li> <a href="https://neuronthemes.com/proton_classic/arizona/">Arizona</a> <span
								class="post-date">November 15, 2017</span></li>
						<li> <a href="https://neuronthemes.com/proton_classic/green-tea/">Green Tea</a> <span
								class="post-date">November 15, 2017</span></li>
						<li> <a href="https://neuronthemes.com/proton_classic/artist/">Artist</a> <span
								class="post-date">November 15, 2017</span></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div id="text-3" class="widget widget_text">
					<h3>Subscribe to our Newsletter</h3>
					<div class="textwidget">
						<p>Join our newsletter group to learn new things &amp; tips and tricks for WordPress.
						</p>
						<p><a href="http://neuronthemes.com/newsletter" target="_blank" rel="noopener" class="btn btn-solid-reg w-100" style="color: #fff">Subscribe</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row py-3">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p>© Copyright 2020. All Rights Reserved.</p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 d-flex flex-md-row-reverse">
				<span class="fa-stack">
					<a href="#">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fab fa-youtube fa-stack-1x text-white"></i>
					</a>
				</span>
			</div>
		</div>
	</div>
</footer>
