<footer class="">
	<div class="container">
		<div class="footer-widgets">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div id="text-2" class="widget widget_text">
						<h3>About Us</h3>
						<div class="textwidget">
							<p>Proton is high quality portfolio theme,<br> with unique style and clean code.</p>
							<p>+123 (0)35 2568 4593<br> <a href="#">info@protontheme.com</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div id="recent-posts-3" class="widget widget_recent_entries">
						<h3>Recent Posts</h3>
						<ul>
							<li> <a href="https://neuronthemes.com/proton_classic/arizona/">Arizona</a> <span
									class="post-date">November 15, 2017</span></li>
							<li> <a href="https://neuronthemes.com/proton_classic/green-tea/">Green Tea</a> <span
									class="post-date">November 15, 2017</span></li>
							<li> <a href="https://neuronthemes.com/proton_classic/artist/">Artist</a> <span
									class="post-date">November 15, 2017</span></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div id="text-3" class="widget widget_text">
						<h3>Subscribe to our Newsletter</h3>
						<div class="textwidget">
							<p>Join our newsletter group to learn new things &amp; tips and tricks for WordPress.
							</p>
							<p><a href="http://neuronthemes.com/newsletter" target="_blank" rel="noopener"
									class="button button-fluid main-color" style="color: #fff">Subscribe</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<p>© Copyright 2019. All Rights Reserved.</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 align-right">
					<ul>
						<li><a target="_BLANK" href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a target="_BLANK" href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a target="_BLANK" href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a target="_BLANK" href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a target="_BLANK" href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a target="_BLANK" href="#"><i class="fa fa-500px"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
