<!-- footer wrapper -->
<section class="footer-wrapper pad-75 bg-lightblue">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<ul class="social-icons-two light list-inline">
					<li class="list-inline-item"><a href="https://anchor.fm/thethoughtfulmillennial" target="_blank"><i class="ri-play-list-2-line ri-2x"></i></a></li>
				</ul>
				<p class="copyright-text">Copyrights © 2021 The thoughtful millennial <br> All Rights Reserved.</p>
				<a href="#" class="back-top">Back to top</a>
			</div>
		</div>
	</div>
</section>
<!-- footer wrapper -->