<!-- Footer start -->
<footer class="footer">

	<div class="container">
		<div class="row ">
			<div class="col-md-4 text-center text-md-left ">

				<div class="py-0">
					<h3 class="my-4 text-white">About<span class="mx-2 font-italic text-warning ">John Choque</span>
					</h3>

					<p class="footer-links font-weight-bold">
						<a class="text-white" href="/index.html">Home</a>
						|
						<a class="text-white" href="/blog.html">Blog</a>
						|
						<a class="text-white" href="/about.html">About</a>
						|
						<a class="text-white" href="/projects.html">Projects</a>
					</p>
					<p class="text-light py-4 mb-4">&copy;2019 Eduonix Learning Solutions Pvt. Ltd.</p>
				</div>
			</div>

			<div class="col-md-4 text-white my-4 text-center text-md-left ">
				<span class=" font-weight-bold ">About me</span>
				<p class="text-warning my-2">We offer training and skill building courses across Technology, Design,
					Management, Science and Humanities.</p>
				<div class="py-2">
					<a href="https://www.facebook.com/{{ site.facebook_username }}"><i
							class="fab fa-facebook fa-2x mx-3"></i></a>
					<a href="https://twitter.com/{{ site.twitter_username }}"><i
							class="fab fa-twitter fa-2x mx-3"></i></a>
					<a href="https://www.instagram.com/{{ site.instagram_username }}"><i
							class="fab fa-instagram fa-2x mx-3"></i></a>
					<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i
							class="fab fa-linkedin fa-2x mx-3"></i></a>
				</div>
			</div>
		</div>
	</div>

</footer>

<!-- Footer end -->

<!-- Scroll-up -->

<div class="scroll-up">
	<a id="scroll-up"><i class="fas fa-arrow-up"></i></a>
</div>