<!-- Navigation start -->

<div class="menu">
	<span class="close-menu icon-cross2 right-boxed"></span>
	<ul class="menu-list right-boxed">
		<li data-menuanchor="page1">
			<a href="/#page1">Home</a>
		</li>
		<li data-menuanchor="page2">
			<a href="/#page2">About me</a>
		</li>
		<li data-menuanchor="page3">
			<a href="/#page3">Projects</a>
		</li>
		<li data-menuanchor="page4">
			<a href="/#page4">Blog</a>
		</li>
		<li data-menuanchor="page5">
			<a href="/#page5">Contact</a>
		</li>
	</ul>
	<div class="menu-footer right-boxed">
		<div class="social-list">
			<a class="icon ion-social-facebook" href="https://www.facebook.com/{{ site.facebook_username }}"></a>
			<a class="icon ion-social-twitter" href="https://twitter.com/{{ site.twitter_username }}"></a>
			<a class="icon ion-social-instagram-outline" href="https://www.instagram.com/{{ site.instagram_username }}"></a>
			<a class="icon ion-social-linkedin-outline" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"></a>
		</div>
		<div class="copy">© Ramsay 2019. All Rights Reseverd</div>
	</div>
</div>

<header class="navbar navbar-fullpage boxed">
	<div class="navbar-bg"></div>
	<a class="brand" href="/index.html">
		<img alt="" src="/assets/images/logo.png">
		<div class="brand-info">
			<div class="brand-name">John</div>
		</div>
	</a>

	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse"
		aria-expanded="false">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

	<div class="contacts d-none d-md-block">
		<div class="contact-item">
			+591
		</div>
		<div class="contact-item spacer">
			/
		</div>
		<div class="contact-item">
			<a href="mailto:contact@johngchoque.com">contact@johngchoque.com</a>
		</div>
	</div>
</header>

<!-- Navigation end -->