<!-- Navigation start -->

<header class="header">

	<nav class="navbar navbar-custom">

		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span>Menu</span>
				</button>
				<a class="navbar-brand" href="/index.html">
					<img class="logo--small" src="/assets/images/icon-simple.svg">
				</a>
			</div>

			<div class="collapse navbar-collapse" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/#home">home</a></li>
					<li class="{% if page.url == '/about.html' %}active{% endif %}"><a href="/about.html">About</a></li>
					<li class="{% if page.url == '/projects.html' %}active{% endif %}"><a href="/projects.html">Projects</a></li>
					<li class="{% if page.url == '/blog.html' %}active{% endif %}"><a href="/blog.html">Blog</a></li>
				</ul>
			</div>

		</div><!-- .container -->

	</nav>

</header>

<!-- Navigation end -->