<!-- Navigation start -->

<div class="menu">
	<span class="close-menu icon-cross2 right-boxed"></span>
	<ul class="menu-list right-boxed">
		<li data-menuanchor="page1">
			<a href="/#page1">Home</a>
		</li>
		<li data-menuanchor="page2">
			<a href="/about.html">About</a>
		</li>
		<li data-menuanchor="page3">
			<a href="/projects.html">Projects</a>
		</li>
		<li data-menuanchor="page4">
			<a href="/blog.html">Blog</a>
		</li>
		<li data-menuanchor="page5">
			<a href="/#page5">Contact</a>
		</li>
		<li data-menuanchor="page5">
			<a href="/my-1-rule-journal.html">My 1% Rule Journal</a>
		</li>
	</ul>
	<div class="menu-footer right-boxed">
		<div class="social-list">
			<a class="icon ion-social-facebook" target="_blank"
				href="https://www.facebook.com/{{ site.facebook_username }}"></a>
			<a class="icon ion-social-twitter" target="_blank"
				href="https://twitter.com/{{ site.twitter_username }}"></a>
			<a class="icon ion-social-instagram" target="_blank"
				href="https://www.instagram.com/{{ site.instagram_username }}"></a>
			<a class="icon ion-social-linkedin" target="_blank"
				href="https://www.linkedin.com/in/{{ site.linkedin_username }}"></a>
		</div>
		<div class="copy">© John Choque 2020</div>
	</div>
</div>

<header class="navbar navbar-fullpage boxed">
	<div class="navbar-bg"></div>
	<a class="brand" href="/index.html">
		<img alt="" src="/assets/images/logo.png">
	</a>

	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse"
		aria-expanded="false">
		<span>Menu</span>
	</button>
</header>

<!-- Navigation end -->
