<section class="menu-title">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-12 col-xl-3 text-center">
				<a href="/index.html" class="logo"><img src="/assets/images/logo.svg" alt="TTM"></a>
				<a href="#" class="menu-click"><span></span><span></span><span></span></a>
			</div>
			<div class="col-lg-6 col-xl-6">
				<nav id="main-menu" class="text-center">
					<ul>
						<li><a href="/index.html">Home</a></li>
						<li><a href="/start.html">Start here</a></li>
						<li><a href="/episodes.html">Episodes</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-3 col-lg-3 text-center col-xl-3">
				<ul class="soical-icon-font list-inline">
					<li class="list-inline-item"><a href="https://anchor.fm/thethoughtfulmillennial" target="_blank"><i class="ri-play-list-2-line"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
