<nav class="fh5co-nav" role="navigation">
	<div class="container">
		<div class="fh5co-top-logo">
			<a href="index.html"><img style="height: 25px;" src="assets/images/logo.png"></a>
		</div>
		<div class="fh5co-top-menu menu-1 text-center">
			<ul>
				<li><a href="/inicio.html">Empieza aquí</a></li>
				<li><a href="/episodios.html">Episodios</a></li>
				<li><a href="/contacto.html">Contacto</a></li>
			</ul>
		</div>
		<div class="fh5co-top-social menu-1 text-right">
			<ul class="fh5co-social">
				<li><a href="#"><i class="icon-instagram"></i></a></li>
				<li><a href="#"><i class="icon-spotify"></i></a></li>
			</ul>
		</div>
	</div>
</nav>