<header class="foi-header">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light foi-navbar">
			<a class="navbar-brand" href="/index.html">
				<img src="/assets/images/logo.svg" alt="FOI">
			</a>
			<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/start.html">Start</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/episodes.html">Episodes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact.html">Contact</a>
					</li>
				</ul>
				<ul class="navbar-nav mt-2 mt-lg-0">
					<li class="nav-item mr-2 mb-3 mb-lg-0">
						<a class="btn btn-secondary" href="/episodes.html">Listen</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
