<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The thoughtful millennial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The weekly podcast where we reflect on our rapidly evolving attitudes to discuss the contradictions, challenges and little-wins in our struggle to becoming more sustainable humans." />
    <meta name="keywords"
        content="podcast, sustainability, mental health" />
    <meta name="author" content="Halima Lone | John Choque" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="/assets/images/thumbnail.jpg">
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="The thoughtful millennial" />
    <meta property="og:description" content="The weekly podcast where we reflect on our rapidly evolving attitudes to discuss the contradictions, challenges and little-wins in our struggle to becoming more sustainable humans." />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link rel="stylesheet" href="/assets/vendors/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    {{ content }}
    {% include footer.html %}
    <script src="/assets/vendors/jquery/jquery.min.js"></script>
    <script src="/assets/vendors/popper.js/popper.min.js"></script>
    <script src="/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
