<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Thoughtful Millennial</title>
    <link rel="stylesheet" href="/assets/vendors/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    {{ content }}
    {% include footer.html %}
    <script src="/assets/vendors/jquery/jquery.min.js"></script>
    <script src="/assets/vendors/popper.js/popper.min.js"></script>
    <script src="/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
