<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="author" content="">
	<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">

	<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	<!-- Youtube background -->
	<link rel="stylesheet" href="assets/css/ytplayer.css">

	<!-- Custom styles CSS -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i&display=swap" rel="stylesheet">
	<link href="/assets/css/style.css" rel="stylesheet" media="screen">
	<link href="/assets/css/style_branding.css" rel="stylesheet" media="screen">
</head>

<body>
	<div class="animsition">
		<div class="loader">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>

		<!-- Content CLick Capture-->

		<div class="click-capture"></div>
		{{content}}

		
	</div>

	<!-- Youtube background -->
	<script src="assets/js/jquery.mb.YTPlayer.js"></script>

	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/smoothscroll.js"></script>
	<script src="/assets/js/animsition.js"></script>
	<script src="/assets/js/jquery.validate.min.js"></script>
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/jquery.pagepiling.min.js"></script>

	<script src="/assets/js/scripts.js"></script>

	{% include analytics.html %}

</body>

</html>
