---
layout: default
---
{% include navigation.html %}

<div class="blog-post">
	<div class="container">
		<h1 class="edica-page-title" data-aos="fade-up">{{ page.title }}</h1>
		<p class="edica-blog-post-meta" data-aos="fade-up" data-aos-delay="200">Written by Richard Searls• February 1, 2019• 6:31 pm• Featured • 4 Comments</p>
		<section class="blog-post-featured-img" data-aos="fade-up" data-aos-delay="300">
			<img src="/assets/images/{{ page.banner_image }}" alt="featured image" class="w-100">
		</section>
		<section class="post-content">
			<div class="row">
				<div class="col-lg-9 mx-auto" data-aos="fade-up">
					{{ content }}
				</div>
			</div>
		</section>
	</div>
</div>