---
layout: default
---

{% include nav.html %}

<!-- Blog Detail Start -->


<div class="content">
	<img alt="" class="image-holder image-header wow fadeIn animated" src="/assets/images/post/{{ page.banner_image }}">
	<div class="container text-center my-4">
		<div class="row">
			<div class="col">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>
	<div class="container text-center my-4">
		<div class="row">
			<div class="col">
				<a href="/blog.html" class="blog-nav">
					<span>Blog</span>
				</a>
				<span> / {{ page.title }}</span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span>By {{ site.author_name }}, {{ page.date | date: "%B %-d, %Y" }}</span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span>{{ page.category }}</span>
			</div>
		</div>
	</div>
	<div class="container">
		<p class="project-detail-text text-center">
			{{content}}
		</p>
	</div>
	<div class="container">
		<div class="row">
			{% if page.previous.url %}
			<div class="col-md-6">
				<a href="{{ site.baseurl }}{{page.previous.url}}" class="blog-nav">
					<span>Previous</span>
					<p>{{page.previous.title}}</p>
				</a>
			</div>
			{% endif %}

			{% if page.next.url %}
			<div class="col-md-6">
				<a href="{{ site.baseurl }}{{page.next.url}}" class="blog-nav">
					<span>Next</span>
					<p>{{page.next.title}}</p>
				</a>
			</div>
			{% endif %}
		</div>
	</div>
	<div id="page4" data-anchor="page4" class="pp-scrollable text-white section section-4">
		<div class="scroll-wrap">
			<div class="section-bg mask" style="background-image:url(/assets/images/bg/blog.jpg);"></div>
			<div class="scrollable-content">
				<div class="vertical-title d-lg-block"><span>my articles</span></div>
				<div class="vertical-centred">
					<div class="boxed boxed-inner">
						<div class="boxed">
							<div class="container">
								<div class="">
									<h2 class="title mb-5 pb-5"> <span class="text-primary">My</span> blog</h2>
									<div class="row">
										<div class="col-md-12">
											{% for post in site.posts limit:3 %}
											<div class="project-row">
												<a href="{{ site.baseurl }}{{ post.url }}">
													<span class="project-number">{{ forloop.index }}</span>
													<h2 class="project-title">{{ post.title }}</h2>
													<div class="project-category">{{ post.category }}</div>
												</a>
											</div>
											{% endfor %}
											<div class="view-all view-all-projects">
												<a href="/blog.html">
													View all posts
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
