---
layout: default2
---

{% include nav.html %}

<!-- Blog Detail Start -->

<div class="container">
	<div class="row mb-4">
		<div class="col-md-12 ml-top-padding">
			<div class="heading-title">
				<h1>{{ page.title }}</h1>
				<p>By {{ site.author_name }}</p>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col">
			<img src="/assets2/images/{{ page.banner_image }}" class="img-fluid" alt="">
		</div>
	</div>
	<div class="row mb-4">
		<div class="post-meta">
			<h3 class="text-center">
				<a href="https://neuronthemes.com/crate/rockhead/">{{ post.title }}</a>
			</h3>
			<ul class="text-center p-0">
				<li class="date">{{ post.date | date: "%B %-d, %Y" }}</li>
				<li class="category"><a href="https://neuronthemes.com/crate/category/fashion/"
						rel="category tag">Fashion</a> <a href="https://neuronthemes.com/crate/category/lifestyle/"
						rel="category tag">Lifestyle</a> <a href="https://neuronthemes.com/crate/category/travel/"
						rel="category tag">Travel</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col">
			{{content}}
		</div>
	</div>
	<div class="row">
		{% if page.previous.url %}
		<div class="col-6">
			<a href="{{ site.baseurl }}{{page.previous.url}}" class="blog-nav">
				<p class="text-right">
					< Older</p>
			</a>
		</div>
		{% endif %}

		{% if page.next.url %}
		<div class="col-6">
			<a href="{{ site.baseurl }}{{page.next.url}}" class="blog-nav">
				<p class="text-left">Newer ></p>
			</a>
		</div>
		{% endif %}
	</div>
</div>
