---
layout: default
---

{% include nav.html %}

<!-- Blog Detail Start -->

<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-project-name col-md-6  mt-5 mb-5 mb-md-0">
				<h1>{{page.title}}</h1>
				<div class="social-list social-list-detail">
					{% if page.facebook %}
						<a href="https://www.facebook.com/{{ page.facebook }}" class="icon ion-social-facebook"></a>
					{% endif %}
					{% if page.twitter %}
						<a href="https://twitter.com/{{ page.twitter }}" class="icon ion-social-twitter"></a>
					{% endif %}
					{% if page.linkedin %}
						<a href="https://www.linkedin.com/{{ page.linkedin }}" class="icon ion-social-linkedin"></a>
					{% endif %}
					{% if page.instagram %}
						<a href="https://www.instagram.com/{{ page.instagram }}" class="icon ion-social-instagram"></a>
					{% endif %}
				</div>
			</div>
			<div class="col-project-info col-md-6">
				<div class="row">
					<div class="col-md-6 mt-5">
						<h5>Category</h5>
						<p>{{ page.category }}</p>
					</div>
					<div class="col-md-6 mt-5">
						<h5>Date</h5>
						<p>{{ page.date }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img alt="" class="image-holder wow fadeIn" src="/assets/images/project/{{page.banner_image}}">
	<div class="container">
		<p class="project-detail-text text-center">
			{{content}}
		</p>
	</div>
</div>
