---
layout: default
---

{% include nav.html %}

<!-- Blog Detail Start -->

<div class="content">
	<div class="container">
		<div class="row row-project">
			<div class="col-project-name col-md-6  mt-5 mb-5 mb-md-0">
				<h1>{{page.title}}</h1>
				<div class="social-list social-list-detail">
					<a href="https://www.facebook.com/{{ site.facebook_username }}"
						class="icon ion-social-facebook"></a>
					<a href="https://twitter.com/{{ site.twitter_username }}" class="icon ion-social-twitter"></a>
					<a href="https://www.instagram.com/{{ site.linkedin_username }}"
						class="icon ion-social-linkedin"></a>
					<a href="https://www.instagram.com/{{ site.instagram_username }}"
						class="icon ion-social-instagram"></a>
				</div>
			</div>
			<div class="col-project-info col-md-6">
				<div class="row">
					<div class="col-md-6 mt-5">
						<h5>Category</h5>
						<p>{{ page.category }}</p>
					</div>
					<div class="col-md-6 mt-5">
						<h5>Team</h5>
						<p></p>
					</div>
					<div class="col-md-6 mt-5">
						<h5>Services</h5>
						<p></p>
					</div>
					<div class="col-md-6 mt-5">
						<h5>Date</h5>
						<p>{{ page.date }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img alt="" class="image-holder wow fadeIn" src="/assets/images/project/{{page.banner_image}}">
	<div class="container">
		<p class="project-detail-text text-center">
			{{content}}
		</p>
	</div>
</div>
