---
layout: default
---

{% include nav.html %}

<!-- Blog Detail Start -->

<section class="blog-detail">
	<div>
		<div class="blog-detail-banner wow fadeIn container">
			{% if page.banner_image %}
				<img src="/assets/images/project/{{page.banner_image}}" alt="{% if page.banner_image_alt %}{{ page.banner_image_alt }}{% else %}{{ page.title }}{% endif %}">
			{% endif %}
		</div>
		<div class="blog-detail-contents wow fadeInUp container">
			<h2>{{page.title}}</h2>
			<div class="blog-detail-about clearfix">
				<div class="media pull-left">
					<div class="media-left">
						<img src="/assets/images/avatar.jpg" class="media-object" alt="avatar">
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{site.author_name}}</h4>
						<p>{{ page.date | date: "%B %-d, %Y" }}</p>
					</div>
				</div>
				<div class="blog-detail-category pull-right">
					{{ page.category }}
				</div>
			</div>
			<div class="blog-detail-content">
				{{content}}
			</div>
			<div class="blog-detail-footer">
				<div class="row">
					<div class="col-md-12">
						<div class="blog-detail-tags">
							<ul> 
								{% if page.tags.size > 0 %}
								Tags: {% for tag in page.tags %}
								<li>
									<a class="tags" href="{{ site.baseurl }}/tags/index.html#{{ tag | cgi_escape }}">{{ tag }}</a>
								</li>
								{% unless forloop.last %} {% endunless %}{% endfor %}

								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Blog Detail End -->
